<%= form_with(model: profile, local: true) do |form| %>
    <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
  
        <ul>
          <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "Profile Photo" %>
      <%= form.file_field :avatar %>
    </div>
  
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", type: "text", placeholder: "Enter name here" %>
    </div>

    <div class="form-group">
      <%= form.label :current_job_title %>
      <%= form.text_field :job_title, class: "form-control", type: "text", placeholder: "Enter current job title here" %>
    </div>

  <select class="custom-select">
    <%= form.label :work_experience %>
    <%= options_for_select([['1 Year', 1], ['2-5 Years', 2], ['5+ Years', 3]]) %>
  </select>

  <div class="form-group">
    <%= form.label :skills %>
    <%= text_area(:skills, "List skills here...", :cols => 120, :rows => 5) %>
  </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>