<p id="notice"><%= notice %></p>

<%= image_tag current_user.avatar, width: "150px", height: "150px", class: "rounded-circle" %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Job Title:</strong>
  <%= @profile.job_title %>
</p>

<p>
  <strong>Work Experience:</strong>
  <%= @profile.work_experience %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>