<p id="notice"><%= notice %></p>


<p>
  <strong>Job Title:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.job_title %>
</p>

<p>
  <strong>Job Description:</strong>
  <%= @profile.work_experience %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>
