<p id="notice"><%= notice %></p>


<p>
  <strong>Job Title:</strong>
  <%= @job.job_title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Job Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job.skills %>
</p>

<%= link_to 'Refer', "#", class: "btn btn-success" %>
<%= link_to 'Edit', edit_job_path(@job), class: "btn btn-light" %> |
<%= link_to 'Show Open Positions', jobs_path, class: "btn btn-secondary" %>